{% extends 'main/base.html' %}

{% block title %}
Услуги
{% endblock %}

{% block content %}
    <h1 style="color: white">Услуги</h1>
    <br>
    <div style=" background-color: rgba(255, 255, 255, 0.8);" class="card card-body">
        <form method="get">
            <h4>Поиск по категориям</h4>
            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1;">
                    {{ filter.form.id_service.label_tag }} {{ filter.form.id_service }}
                </div>
                <div style="flex: 1;">
                    {{ filter.form.name.label_tag }} {{ filter.form.name }}
                </div>
            </div>
            <br>
            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1;">
                    {{ filter.form.price.label_tag }} {{ filter.form.price }}
                </div>
                <div style="flex: 1;">
                    {{ filter.form.duration.label_tag }} {{ filter.form.duration }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
    </div>
    <br>
    {% load render_table from django_tables2 %}
    {% render_table table %}
{% endblock %}
